body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: inherit;
  color: inherit;
}

p {
  margin: 10px 0;
  font-size: 28px;
  line-height: 38px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font: inherit;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

input {
  border: none;
  background: none;
  outline: none;
  font-size: 24px;
  color: inherit;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #1A1F38;
  padding: 16px 70px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 12px 12px;
  z-index: 5;
}

.logo {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.header__search {
  position: relative;
  box-sizing: border-box;
  width: 470px;
  height: 60px;
  background: #C4C4C44D;
  border-radius: 8px;
  padding: 20px;
  padding-right: 50px;
  color: #fff;
}

.search__wrapper {
  position: relative;
}

.header__btn {
  content: "";
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 45px;
  height: 45px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: url("../img/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.intro {
  padding: 330px 0px 120px;
  background: linear-gradient(#1E1C1C80, #1E1C1C70), url("../img/bg1.jpg");
}

.intro__title {
  font-size: 64px;
  font-weight: 700;
}

.intro__text {
  max-width: 850px;
  margin-bottom: 40px;
}

.raiting {
  position: relative;
  padding-left: 45px;
  font-size: 32px;
  font-weight: 700;
}

.raiting::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/star.svg");
}

.section__title {
  margin-top: 50px;
  margin-bottom: 32px;
}

.tranding-movies {
  margin-bottom: 70px;
}

.tranding-tvs {
  margin-bottom: 20px;
}

.catalog__wrapper {
  margin-left: -25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.catalog__item {
  width: 195px;
  height: 355px;
  margin-left: 25px;
  margin-bottom: 35px;
  background-color: #050E12;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s linear;
  transition-delay: 0.1s;
  cursor: pointer;
}

.catalog__item:hover {
  transform: scale(110%);
}

.catalog__img {
  width: 100%;
  height: 290px;
}

.catalog__content {
  margin: 13px 18px;
  overflow: hidden;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 18px;
  color: #B6B6B6;
  white-space: nowrap;
}

.catalog__date {
  font-size: 12px;
  color:#828282;
}

.footer {
  padding: 140px 0;
}

.copyright {
  display: block;
  font-size: 36px;
  margin-bottom: 20px;
}

.copyright b {
  font-weight: 700;
}

.copyright__link {
  text-decoration: underline;
}

@media (max-width: 960px) {
  .intro {
    padding: 180px 0 200px;
  }

  .intro__title {
    font-size: 36px;
  }

  .intro__text {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .section__title {
    font-size: 36px;
  }

  .catalog__item {
    width: 100px;
    height: 170px;
  }

  .catalog__item:hover {
    transform: none;
  }

  .catalog__img {
    height: 140px;
  }

  .catalog__content {
    margin: 5px 5px;
  }

  .catalog__title {
    font-size: 10px;
    line-height: 12px;
  }

  .catalog__date {
    display: none;
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 500px) {
  .catalog__wrapper {
    margin-left: -10px;
  }

  .catalog__item {
    width: 30%;
    height: auto;
    margin-left: 10px;
  }

  .catalog__img {
    width: 100%;
    height: auto;
  }

  }

  @media (max-width: 375px) {
    .catalog__item {
      width: 45%;
    }
  }